{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <table class="table table-hover">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Action</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }} </td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price }}</td>
                <td>
                    {% if stock.action %}
                        BUY
                    {% else %}
                        SELL
                    {% endif %}
                </td>
                <td>{{ stock.total }}</td>
                <td>{{ stock.date }}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}